main{
    .jumbo{
        height: 800px;
        object-fit: cover;
        width: 100%;
    }
    .series{
        background-color: #1C1C1C;
        width: 100%;
        height: 750px;
        position: relative;
        bottom: 500px;
    }
    .comicsBox{
    width: 90%;
    height: 650px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .currentSeries{
    position: relative;
    bottom: 20px;
    left: 200px;
    background-color: #0084FF;
    width: 220px;
    padding: 10px;
    text-align: center;
    color: white;
    }
    .comic{
        width: 190px;
        height: 190px;
        img{
            width: 170px;
            height: 250px;
        }
        p{
            color: white;
        }
    }
    .section{
        position: relative;
        bottom: 500px;
        width: 100%;
        height: 150px;
        background-color: rgb(97, 97, 218);
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .merc{
        width: 20%;
        display: flex;
        align-content: center;
        justify-content: center;
        img{
            width: 80px;
        }
        p{
            margin-left: 10px;
            align-self: center;
        }
    }
    button{
        padding: 5px 30px;
        position: relative;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #0084FF;
        border: 0;
        color: white;
    }
}


